html { font-size: 22px; }
body { padding: 1rem; }


.sections {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    width: auto;
  }

.section {
  background-color: #7D6E83;
  color: white;
  padding: 1rem;
  height: auto;
  text-align: justify;
  
  
}

/* start of navbar styling */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* end of navbar styling */



/* heading font */

#heading-one {
  font-family: 'Caveat', cursive;
  text-align: center;
}

#heading-two {
  font-family: 'Caveat', cursive, sans-serif, Verdana;
  text-align: center;
  align-content: center;
  margin-top: 10px;
}



/* blinking terminal line effect in about me section*/
.blink_me {
  animation: blinker 1s linear infinite;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* hover behaviours of divs*/

#photo:hover {
  background-color:#80558C;
  transition: 0.7s;
}

#output{
  text-align: center;

}

#remove_handler {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}





#tcm-security {
  display: none;
}

#z-security {
  display: none;
}

#it-support {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  background-color:red;
  z-index: 9;
    }






#giz-logo {
  display:flex;
}

#contact-header {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

/* screens larger than 600 px */
@media (min-width: 600px) {
    .sections { grid-template-columns: repeat(2, 1fr); }
  }


/* for screens larger than  900 px */  
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }


/* To avoid media queries add the following min-max in the parent selector */
/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  
  

